body{

    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
    background-color: gray;
}
span{


    color: orangered;
    font-size: xx-large;
}
section{

    display: flex;
    margin-bottom: 8%;
}


.half-width{
    margin: 3%;
    text-align: justify;

    width: 50%;
}
.half-width img{

    width: 70%;
    margin-top: 8%;
    margin-left: 20%;
}
.Hbutton{

    text-decoration: none;
    background-image: linear-gradient(red, rgb(229, 255, 0));
    padding: 10px 40px;
    border-radius: 8%;
    color: white;
    font-size: x-large;

}
.EXP div{

    width: 50%;
    box-shadow:5px 7px 40px tomato;
    height: 600px;
    text-align: justify;
    padding-left: 1%;
    padding-right: 2%;
    margin: 2%;
}
.P{
    color: violet;
    font-size: x-large;
}
#j{

    width: 180%;
}
#s{

    margin-top: 6%;
}
footer{
    

    border: red;
    text-align: center;
    box-shadow:5px 7px 40px rgb(29, 23, 23);
    color: rgb(224, 214, 213);

    
}
.pro{

    text-align: justify;
    margin-right: 2%;
}

.centerdiv{

    
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
a{

    height: 100px;
    width: 100px;
    background-color: #f5f6fa ;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px rgb(19, 30, 21);
    line-height:110px ;
}
 a i{
   
     transition:  all 0.3s linear;
 }
 a:hover i{
     transform: scale(1.4);



 }
 .fa-instagram{

    color: #e84393;
 }
 .fa-youtube{
     color: #e84118;
 }
 .fa-linkedin-in{

    color: rgb(68, 135, 177);
 }